<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <input type="text" id="email">
<input type="text" id="password">
<button id="inigoogle">Ingresar</button>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js"></script>

<script src="../js/config.js"></script>
<script src="../js/login.js"></script>

</body>
</html>